/data/
/Optimizations.ipynb
/CP.ipynb
/poisson_optimization.ipynb
/qutrits.ipynb
/special_gates.ipynb
/Talk_22.xoj
/analytic.ipynb
/random_unitaries_and_states.ipynb
/gd_vs_staircase.ipynb
/daddy_pig.jpg
/Entanglement.ipynb
/Talk_21.xoj
/test_circuits.ipynb
/Toffoli_special.ipynb
/vmap_test.ipynb
/nohup.out
/notebooks/
/.ipynb_checkpoints/
/.ipynb_checkpoints/
