/data/
/notebooks/Optimizations.ipynb
/notebooks/CP.ipynb
/notebooks/poisson_optimization.ipynb
/notebooks/qutrits.ipynb
/notebooks/special_gates.ipynb
/Talk_22.xoj
/notebooks/analytic.ipynb
/notebooks/random_unitaries_and_states.ipynb
/notebooks/gd_vs_staircase.ipynb
/daddy_pig.jpg
/notebooks/Entanglement.ipynb
/Talk_21.xoj
/notebooks/test_circuits.ipynb
/Toffoli_special.ipynb
/notebooks/vmap_test.ipynb
/nohup.out
/.ipynb_checkpoints/
/.ipynb_checkpoints/
/ibm_examples/
